<header class="site-header">
  <div class="wrapper">
    <h1><a href="/">{{ shop.name }}</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/collections/all">Shop</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
  </div>
</header>
{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
